{% extends 'base/base.html' %}
{% block extend_css %}
{% load static %}
{% endblock extend_css %}
{% block content %}
<form action="{% url 'todo:task_update' obj.pk %}" method="post">
    {% csrf_token %}
    <div class="row my-sm-4 justify-content-center">
        <label for="inputTitle" class="col-md-2 col-form-label">タイトル</label>
        <div class="col-md-6">
            <input type="text"
                   name="title"
                   class="form-control"
                   id="inputTitle"
                   value="{{ obj.title }}">
        </div>
    </div>
    <div class="row my-sm-4 justify-content-center">
        <label for="inputDescription" class="col-md-2 col-form-label">説明</label>
        <div class="col-md-6">
            <textarea name="description"
                      class="form-control"
                      id="inputDescription">{{ obj.description }}
            </textarea>
        </div>
    </div>
    <div class="row my-sm-4 justify-content-center">
        <label for="inputDueDate" class="col-md-2 col-form-label">期限</label>
        <div class="col-md-6">
            <input type="date"
                   name="due_date"
                   class="form-control{% if form.due_date.errors %} is-invalid{% endif %}"
                   id="inputDueDate"
                   value="{{ obj.due_date|date:'Y-m-d' }}">
            {% for error in form.due_date.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="row my-sm-4 justify-content-center">
        <label for="inputPriority" class="col-md-2 col-form-label">優先度</label>
        <div class="col-md-6">
            <select name="priority" class="form-control" id="inputPriority">
                <option value="1" {% if obj.priority == "1" %}selected{% endif %}>低</option>
                <option value="2" {% if obj.priority == "2" %}selected{% endif %}>中</option>
                <option value="3" {% if obj.priority == 3 %}selected{% endif %}>高</option>
            </select>
        </div>
    </div>
    <div class="row my-sm-4 justify-content-center">
        <label for="inputCompleted" class="col-md-2 col-form-label">完了</label>
        <div class="col-md-6">
            <input type="checkbox"
                   name="completed"
                   class="form-check-input"
                   id="inputCompleted"
                   {% if obj.completed %}checked{% endif %}>
        </div>
    </div>
    <div class="row my-4 px-0 justify-content-center">
        <button type="submit" class="col-md-1 mx-md-1 my-1 btn btn-primary btn-lg" >登録</button>
        <button class="col-md-1 mx-md-1 my-1 btn btn-secondary btn-lg" onclick="window.history.back();return false;">戻る</button>
    </div>
</form>
{% endblock content %}